/*.bouton a {
    display:inline-block;
    width:120px;
    padding: 10px;
    background-color:black;
    color: #fff ;
    text-decoration: none;
    text-align:center;
    margin: 10px;
    position: relative;
    margin-right: auto;
    
    margin-left: auto;
    }*/
    .bouton a {
        display:block;
        width:150px;
        line-height:50px;
        text-align:center;
        background:url(assets2/bouton-noir.png) no-repeat;
        color:white;
        text-decoration:none;
        }
        .bouton a:hover {
        background:url(assets2/bouton-noir-2.png) no-repeat;
        }
    div {
        text-align: center;
        left: 50%;
        top: 80%;
        position: absolute;
    }
    body {
        color:black;
        background-color: rgba(0, 0, 255, 0.5);
        background-image:url(assets2/newmap.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        
        }
        
  